/*
one.css
nested.less
*/
/* one.css  */
.css-one {
  color: blue;
}

 
/* nested.less  */
#header {
  color: red;
}
#header a {
  font-weight: bold;
  text-decoration: none;
}
#header p {
  font-size: 20px;
}

