/* mixin.less  */
.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: blue;
}
#header {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: blue;
}
#footer {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: blue;
}

/* nested.less  */
#header {
  color: red;
}
#header a {
  font-weight: bold;
  text-decoration: none;
}


